@import '../../App.scss';
@import '../../fn.scss';

.main--container {
  width: calc(100% - 400px);
  min-width: 350px;

  box-shadow: 5px 5px 15px rgba(#212121, 0.15);

  @include flex(default, default, column);
}

.sales {
  grid-column: 1 / 3;

  &--title {
    font-size: 1.8em;
  }

  .cards--container {
    @include flex(center, center, default, wrap);

    margin: $side-padding 0;
    width: 100%;
  }

  &--card {
    margin: $side-padding;
    padding: 25px $side-padding;
    width: 250px;
    background: rgba($black, 0.025);
    border-radius: 5px;
    text-align: center;

    &--title {
      font-size: 0.9em;
    }

    &--price {
      margin: 10px 0;
      font-size: 2em;
    }

    &--desc {
      opacity: 0.35;
    }
  }
}

.countries {
  border: 2px solid rgba($black, 0.05);

  @include flex(space-between, default, column);

  width: calc(100% - 40px);

  padding: 25px $side-padding;
  padding-bottom: 0;
  border-radius: 10px;
  height: 540px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: 5px 5px 15px rgba($main, 0.25);
    background: #f2f2f2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $main;
  }

  &--title {
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 25px;
  }

  &--item {
    position: relative;

    padding: 15px 0;
    border-top: 1px solid rgba($black, 0.1);

    @include flex(space-between, center);

    &::after {
      content: '';

      position: absolute;
      right: -15px;
      bottom: 0;

      width: 0%;
      height: 100%;

      // background: transparent;
      background: rgba($black, 0.025);

      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      left: -15px;
      width: calc(100% + 30px);
    }

    // highlight the first 5 countries
    &:nth-child(-n + 6) .countries--position {
      color: $main;
    }

    // align position < 10
    &:nth-child(-n + 10) .countries--position {
      left: 5px;
    }
  }

  &--position {
    // to align the countries' names
    position: absolute;

    font-weight: 900;
    color: rgba($black, 0.2);
    font-size: 1.5em;
  }

  &--name {
    margin-left: 45px;
  }

  &--flag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;

    box-shadow: 0 0 15px rgba($black, 0.15);
  }
}

// media query
