@import '../../App.scss';
@import '../../fn.scss';

.main--container {
  width: calc(100% - 400px);

  box-shadow: 5px 5px 15px rgba(#212121, 0.15);

  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 200px auto;
  gap: $side-padding;
}

.sales {
  grid-column: 1 / 3;

  &--title {
    font-size: 1.8em;
  }

  .cards--container {
    @include flex(space-between, default, default, wrap);
  }

  &--card {
    margin: $side-padding;
    padding: 25px $side-padding;
    width: 250px;
    background: rgba($black, 0.05);
    border-radius: 5px;
    text-align: center;

    &--title {
      font-size: 0.9em;
    }

    &--price {
      margin: 10px 0;
      font-size: 2em;
    }

    &--desc {
      opacity: 0.35;
    }
  }
}

.countries {
  border: 2px solid rgba($black, 0.05);

  @include flex(space-between, default, column);

  height: 75%;
  padding: 25px;
  border-radius: 10px;

  &--title {
    font-size: 0.9em;
    margin-bottom: 25px;
  }

  &--item {
    padding: 15px 0;
    border-top: 1px solid rgba($black, 0.1);

    @include flex(default, center);
  }

  &--flag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.chart--container {
  // background: red;
}
