@import './fn.scss';

$main: #7d5fff; // #7d5fff;
$light-main: #cd84f1;
$black: #073b4c;

$side-padding: 15px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: $black;
}

body {
  background: #f6f6f6;
}

::selection {
  background: $main;
  color: #fff;
}

.container {
  width: 80vw;
  margin: 25px auto;

  @include flex(space-between, default);
  font-family: Inter, sans-serif;

  &::after {
    content: '';
    width: 100%;
    height: 35%;

    position: absolute;
    top: 0;
    left: 0;

    background: $main;
    background: linear-gradient(
      90deg,
      rgba(125, 95, 255, 1) 0%,
      rgba(205, 132, 241, 1) 100%
    );
    z-index: -2;
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 50%, 0% 100%);
  }
}

.box {
  background: #fff;
  box-shadow: 5px 5px 15px rgba($black, 0.15);
  border-radius: 2.5px;

  &:first-child {
    padding-top: 15px;
  }
  &:last-child {
    padding: ($side-padding * 2);
  }
}

.desc {
  font-size: 0.9em;
  color: rgba($black, 0.5);
}

.black {
  font-family: Fira Sans, sans-serif;
  font-weight: 900 !important;
  letter-spacing: 0.25px;
}

.leftSide {
  @include flex(default, center);

  & > *:nth-child(1) {
    margin-right: 5px;
  }
}

// media query

@media (max-width: 1065px) {
  .container {
    @include flex(center, center, column, default);
  }

  .navigation--container {
    width: 100% !important;
    height: 250px !important;
    margin: 25px 0;

    .list--container {
      display: none;
    }
  }

  .main--container {
    align-items: center;
    text-align: center;
    padding: 25px 0 !important;
  }
}

@media (max-width: 600px) {
  .main--container {
    min-width: 100% !important;
  }
}
